/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
 
html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
article.row-fluid {
    color: #fff !important;
}

.navbar.navbar-fixed-top.section,
.navbar.navbar-fixed-top.section > .tableCell {
    height: auto;
}

.slider-wrapper,
.slider-wrapper .tableCell {
    height: auto !important;
    margin-bottom: 0 !important;
} 

.etapes {
    padding: 175px 0;
    text-align: center;
    /*background-color: #ece4d9;*/
}

    .etapes h1 {
        font: bold 45px/45px;
        text-transform: uppercase;
        letter-spacing: -2px;
    }

    .etapes h2 {
        color: #594630;
        font: italic 18px/20px Georgia;
    }

    .etapes .buttons-group a {
        color: #f0ebe5;
        font: bold 30px/30px 'Open Sans';
        text-shadow: 0 5.01px 3.336px #c4b59d,0 -2px 1px #fff;
        padding: 10px 12px;
    }

    .etapes .buttons-group a:hover {
        color: rgb(227, 216, 202);
        background: none !important;
    }

    .etapes .buttons-group a:active,
    .etapes .buttons-group a.active {
        color: #f91d65;
        background: none !important;
        box-shadow: none;
        text-shadow: none;
    }

    .etapes .list-types {
        padding: 80px 0;
    }

    .etapes .list-types:before {
        content: '';
        position: relative;
        top: -40px;
        display: block;
        clear: both;
        width: 8px;
        height: 1px;
        margin: auto;
        background-color: #594630;
    }

.stepContainer a[type="button"] {
    margin: 0;
}
.row-fluid .btn-4c {
    padding: 8px;
    height: 50px;
    width: 150px;
    border-radius: 0;
    margin: 0;
}

.buttonNext {
    padding: 8px;
    height: 50px;
    width: 150px;
    border-radius: 0;
    margin: 0;
}

.buttonNext:before {
    position: absolute;
    height: 100%;
    font-size: 125%;
    line-height: 3.5;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#wizard {
    position: relative;
    padding: 20px;
}

#wizard ul.anchor li a.selected .inactive,
#wizard ul.anchor li a.disabled .active,
#wizard ul.anchor li a.done .inactive {
    display: none;
}

.date-picker.span10{
    height: 45px;

}

.datepicker.datepicker-dropdown {
    z-index: 100 !important;
    margin-left: 0;
}

#sandbox-container .add-on {
    width: 35px;
    height: 19px;
    padding: 12px 5px;0
}

.anchor {
    top: 500px;
}

.content section {
    color: #fff;
}

section.right {
    text-align: right;
}

section.section h1 {
    text-transform: uppercase;
}

    section.section h1 span {
        display: block;
        font-size: 200%;
        margin: 15px 0 20px 0;
        line-height: 1;
    }

#section1,
#section2,
#section3,
#section12,
#section5,
#section6,
#section7 {
    margin-bottom: 0 !important;
}

#section0 {
    margin-top: 90px;
}

#section1 {
    background: #ff8000; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjZmY4MDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmY4MDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmY2YjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #ff8000 1%, #ff8000 50%, #ff6b00 50%, #ff6b00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#ff8000), color-stop(50%,#ff8000), color-stop(50%,#ff6b00), color-stop(100%,#ff6b00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ff8000 1%,#ff8000 50%,#ff6b00 50%,#ff6b00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ff8000 1%,#ff8000 50%,#ff6b00 50%,#ff6b00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ff8000 1%,#ff8000 50%,#ff6b00 50%,#ff6b00 100%); /* IE10+ */
    background: linear-gradient(135deg,  #ff8000 1%,#ff8000 50%,#ff6b00 50%,#ff6b00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ff6b00',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    text-align: center;
    line-height: 10;
    position: relative;
    padding: 100px;
}

    #section1 h1.bold {
        font-weight: 900;
    }

    #section1 .diamond {
        border: 10px solid #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        height: 550px;
        width: 550px;
        position: absolute;
        top: 230px;
        border: 50px solid #fff;
        opacity: 0;
        -webkit-animation-duration: 5s;
        animation-duration: 5s;
    }

    .diamond.offset2.animated.bounceIn {
        opacity: 1;
    }

#section2 {
    background-image: url(../img/europe-map.png);
    background-repeat: no-repeat;
    /*background-position: 50% -175%;
    background-size: cover;
    background-attachment: fixed;*/
    background-color: #2c3c4c;
    padding: 100px;
}

#left-triangle {
    width: 100%;
    height: 0;
    border-right: 170px solid #8db839;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}

#right-triangle {
    width: 0;
    height: 0;
    border-left: 170px solid #8db839;
    border-top: 75px solid transparent;
    border-bottom: 75px solid transparent;
}

#section2 {
    text-align: right;
}

    #section2 h1 {
        margin-top: 60px;
    }

    #section2 .list-countries {
        list-style-type: none;
        margin-top: 50px;
    }

        #section2 .list-countries li {
            background: url(../img/green-triangle.png) no-repeat 100% 35%;
            padding-right: 1em;
        }

            #section2 .list-countries li a {
                text-transform: uppercase;
                color: #fff;
            }

            #section2 .list-countries li a:hover {
                color: #8db839;
            }

    #section2 .over-map {
        position: relative;
        top: -215px;
        left: 10px;
        -webkit-transition: margin 0.3s ease-out;
        -moz-transition: margin 0.3s ease-out;
        -o-transition: margin 0.3s ease-out;
    }

    #section2 .over-map:hover {
        margin-top: 5px;
    }

#section3,
#section18 {
    background-color: #009adb;
}

    #section3 .triangles #up-triangle {
        width: 0; 
        height: 0; 
        border-left: 80px solid transparent; 
        border-right: 80px solid transparent; 
        position: relative;
    }

        #section3 .triangles #up-triangle a {
            color: #000;
            position: relative;
        }

    #section3 .triangles #up-triangle.ser-tri-1 {
        border-bottom: 150px solid #d90080; 
    }

        #section3 .triangles #up-triangle.ser-tri-1 a,
        #section3 .triangles #up-triangle.ser-tri-2 a,
        #section3 .triangles #up-triangle.ser-tri-4 a {
            top: 95px;
            left: -40px;
        }

    #section3 .triangles #up-triangle.ser-tri-2 {
        left: -80px;
        border-bottom: 150px solid white; 
    }

    #section3 .triangles #up-triangle.ser-tri-3 {
        left: 80px;
        border-bottom: 150px solid #8db839; 
    }

        #section3 .triangles #up-triangle.ser-tri-3 a {
            top: 95px;
            left: -100px;
        }

    #section3 .triangles #up-triangle.ser-tri-4 {
        border-bottom: 150px solid #e4851d; 
    }

    #section3 .triangles #up-triangle.ser-tri-5 {
        border-bottom: 150px solid #5fc2bb; 
    }

        #section3 .triangles #up-triangle.ser-tri-5 a,
        #section3 .triangles #up-triangle.ser-tri-6 a {
            top: 95px;
            left: -25px;
        }

    #section3 .triangles #up-triangle.ser-tri-6 {
        border-bottom: 150px solid #dadada; 
    }
    
    #section3 .triangles .ser-tri-4,
    #section3 .triangles .ser-tri-5,
    #section3 .triangles .ser-tri-6 {
        left: -160px
    }

    .ser-tri-2,
    .ser-tri-4,
    .ser-tri-5,
    .ser-tri-6 {
        float: left;
        -webkit-animation-duration: 20s;
        animation-duration: 20s;
    }

#section5 {
    padding: 100px;
    background-image: url(../img/etapes/pic-01.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

    #section5 h1,
    #section5 p,
    #section11 h1,
    #section11 p {
        margin-top: 50px;
    }

    #section5 p,
    #section7 p,
    #section9 p,
    #section11 p {
        margin-left:0;
        width: 31.623931623931625%;
    }    

    #section5 .etape-icon.bulb {
        margin-top: -480px;
    }


    #section5 #right-triangle.orange,
    #section9 #right-triangle.orange {
        border-left: 170px solid #e4851d;
    }


#section6 {
    padding: 100px;
    background-image: url(../img/etapes/pic-02.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -200px;
}
    #section6 #left-triangle.green,
    #section7 #right-triangle.blue,
    #section8 #left-triangle.cerise,
    #section9 #right-triangle.orange,
    #section10 #left-triangle  {
        margin-top: -300px;
    }

    #section6 .etape-icon.magnifier,
    #section7 .etape-icon.puzzle,
    #section8 .etape-icon.palette,
    #section9 .etape-icon.settings,
    #section10 .etape-icon.target,
    #section11 .etape-icon.muleculs  {
        position: absolute;
        top: 0;
        left: 300px;
    }

#section7 {
    padding: 100px;
    background-image: url(../img/etapes/pic-03.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -400px;
}

    #section7 #right-triangle.blue,
    #section11 #right-triangle.blue {
        border-left: 170px solid #009adb;
    }

#section8 {
    padding: 100px;
    background-image: url(../img/etapes/pic-04.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -600px;
}

    #section8 #left-triangle.cerise {
        border-right: 170px solid #dd0080;
    }

#section9 {
    padding: 100px;
    background-image: url(../img/etapes/pic-05.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -820px;
}

#section10 {
    padding: 100px;
    background-image: url(../img/etapes/pic-06.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -1050px;
}

    #section10 .span3 h1 > span {
        margin: 15px 0 20px -65px;
    }

#section11 {
    padding: 100px;
    background-image: url(../img/etapes/pic-07.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    top: -1270px;
}

#section12 {
    background: #d90080; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZDkwMDgwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZDkwMDgwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjY2UwMDZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NlMDA2ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #d90080 0%, #d90080 40%, #ce006f 40%, #ce006f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d90080), color-stop(40%,#d90080), color-stop(40%,#ce006f), color-stop(100%,#ce006f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #d90080 0%,#d90080 40%,#ce006f 40%,#ce006f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #d90080 0%,#d90080 40%,#ce006f 40%,#ce006f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #d90080 0%,#d90080 40%,#ce006f 40%,#ce006f 100%); /* IE10+ */
    background: linear-gradient(135deg,  #d90080 0%,#d90080 40%,#ce006f 40%,#ce006f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d90080', endColorstr='#ce006f',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
    text-align: center;
    padding: 100px 0;
    line-height: 10;
    position: relative;
    top: -1490px;
}

    #section12 .rectangle {
        border: 30px solid #fff;
        height: 550px;
        position: absolute;
        top: -250px
    }

    #section12 .handle {
        border-top: 40px solid #fff;
        border-right: 40px solid #fff;
        border-bottom: 0;
        border-left: 40px solid #fff;
        height: 100px;
        position: absolute;
        top: -400px;
    }

    #section12 .container {
        position: relative;
        line-height: 80px;
    }

    #section12 h1 {
        font-size: 500%;
        margin-top: 25px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        padding: 60px 0;
        background-color: #d90080;
    }

#section13 {
    background-color: #5fc2bb;
    position: relative;
    top: -1600px;
}

.parallelogram {
    border: 25px solid #fff;
    float: left;
    -webkit-transform: skew(-20deg); 
    -moz-transform: skew(-20deg); 
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
    padding: 150px;
}

    .parallelogram h1 {
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);
        font-size: 500%;
    }

#section14 {
    background: #d90080;
    position: relative;
    top: -1620px;
}

    #section14 .container {
        text-align: center;
    }

    #section14 .span3 {
        margin-top: 50px;
    }

#section15 {
    padding: 100px;
    position: relative;
    background-color: #009adb;
}

    #section15 .team {
        position: absolute;
    }

        #section15 .team > .pic-over.headphones {
            position: relative;
            top: -735px;
            left: 75px;
            opacity: 0;
            -webkit-transition: all 0.2s ease-in;
            -moz-transition: all 0.2s ease-in;
            -ms-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

            #section15 .team.team-tech-dir:hover .pic-over.headphones {
                opacity: 1  
            }

#section16,
#section19,
#section21 {
    padding: 100px;
    background-color: #8db839;
}

    #section16 #right-triangle.white {
        border-left: 170px solid #fff;
    }

    #section16 p.span3,
    #section18 p.span3,
    #section20 p.span3 {
        margin-left: 0;
    }

    #section16 h1 {
        margin-top: 100px;
    }

    #section16 .team {
        margin-top: -500px;
    }

#section17,
#section18 ,
#section20 {
    padding: 100px;
    background-color: #e4851d;
}

    #section17 .pull-right #left-triangle.white {
        border-right: 170px solid #fff;
        margin: 0 0 60px 0;
    }

    #section18 #right-triangle.white,
    #section20 #right-triangle.white {
        border-left: 170px solid #fff;
        margin: 0 0 60px 0;
    }

#section20 .team-wd {
    position: relative;
    top: -300px;
}

.span4.pull-right #left-triangle.white  {
    /*margin: -300px 0 100px 0;*/
    border-right: 170px solid #fff;
}

.social-links {
    margin-left: 0 !important;
}

    .social-links li {
         list-style-type: none;
         display: inline-block;
         margin-top: 35px;
    }

        .social-links li a {
             font-size: 250%;
             color: #fff;
             -webkit-transition: all 0.3s ease-in;
             -moz-transition: all 0.3s ease-in;
             -ms-transition: all 0.3s ease-in;
             -o-transition: all 0.3s ease-in;
             transition: all 0.3s ease-in;
             
        }

            .social-links li a:hover {
                 color: #005580;
            }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
